<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGodmYAmRU5y5_d0erkvmjNATA-Yg1JY8</string>
	<key>GCM_SENDER_ID</key>
	<string>325705345982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.connectkasa.connectKasa</string>
	<key>PROJECT_ID</key>
	<string>connectkasa-84f23</string>
	<key>STORAGE_BUCKET</key>
	<string>connectkasa-84f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325705345982:ios:8bc16879122f9076d7e7ef</string>
</dict>
</plist>